In [1]:
import re
import pandas as pd

# LOADING THE 2 DATASETS
def student_mat_data():
    """Load the dataset and return the shape"""
    with open("student-mat.csv", "rb") as student_mat:
        student_mat_file = pd.read_csv(student_mat)
        student_mat_file_shape = student_mat_file.shape
    return student_mat_file, student_mat_file_shape

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]

In [3]:
student_mat_data()[1]

(395, 33)

In [10]:
def student_por_data():
    """Load the dataset and return the shape"""
    with open("student-por.csv", "rb") as student_por:
        student_por_file = pd.read_csv(student_por)
        student_por_file_shape = student_por_file.shape
    return student_por_file, student_por_file_shape

# MERGE THE DATASETS TOGETHER
Since there are features in the both dataset that have to be remained the same.
NOt all student doing portuguese will love to do mathematics we can see that mathematics have a smaller number when
compared to the portuguese.

In [8]:
def rename_specific_attributes():
    """Return the renamed columns for the maths and portuguese dataset since this grade are specific
    to the courses"""
    mat_file = student_mat_data()[0].rename(columns={'G1': 'G1_mat', 'G2': 'G2_mat', 'G3': 'G3_mat'})
    por_file = student_por_data()[0].rename(columns={'G1': 'G1_por', 'G2': 'G2_por', 'G3': 'G3_por'})
    return mat_file, por_file

In [11]:
rename_specific_attributes()[0]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1_mat,G2_mat,G3_mat
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [ ]:
rename_specific_attributes()[1]

In [12]:
def merge_data():
    """Merge the data set on the features outlined in the merge-R file, since with these
    merge column we will be able to get a resulting data set that has rows almost equivalent
    to the mat data set(smallest data set compared to por data set)"""
    column = ["school", "sex", "age", "address", "famsize", "Pstatus", "Medu",
              "Fedu", "Mjob", "Fjob", "reason", "nursery", "internet"]
    file_1 = rename_specific_attributes()[0]
    file_2 = rename_specific_attributes()[1]
    combined_file1_2 = pd.merge(file_1, file_2, on=column, how='inner')
    return combined_file1_2

# Cleaning the dataset

In [13]:
def manipulate_data():
    """Method uses regular expression to change the x and y that displays in the columns of the
    dataset, thus returning a more cleaner data"""
    hol = []
    patt = '(.*)_x'
    patt_2 = '(.*)_y'
    con_list = merge_data().columns.tolist()
    for ele in con_list:
        if re.match(patt, ele):
            hol.append(ele.replace(ele, f'{ele[:-2]}_mat'))
        elif re.match(patt_2, ele):
            hol.append(ele.replace(ele, f'{ele[:-2]}_por'))
        else:
            hol.append(ele)
    return hol

In [17]:
def transformed_merged_data():
    """Returns a transformed dataset where the column names have been changed"""
    data = merge_data()
    old_column = data.columns.tolist()
    new_column = manipulate_data()
    data.rename(columns=dict(zip(old_column, new_column)), inplace=True)
    return data

In [18]:
transformed_merged_data()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel_por,freetime_por,goout_por,Dalc_por,Walc_por,health_por,absences_por,G1_por,G2_por,G3_por
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
378,MS,F,18,U,GT3,T,1,1,other,other,...,3,4,4,2,2,5,3,7,8,7
379,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
380,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
381,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11